*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
}
.nav_logo{
    height: 50px;
    width: 114px;
}


.logo{
    background-image: url(amazon_logo.png);
    height: 50px;
    width : 100%;
    background-size: cover;
}
.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid white;
}
.nav_address{
    
    height: 1 rem;
    width : 90px;
}
.first_line{
    margin-left: 10px;
    color: cccccc;
    font-size: 12px;
}
.second_line{
    display: flex;
    align-items: center;
    font-size: 14px;
}

/** Styling for the search bar */
.nav_search{
    display: flex;
    align-items: centre;
    height: 40px;
    width: 800px;
    background-color: pink;
    border-radius: 4px;
    justify-content: space-evenly;
    padding-left: 1.5px;

}
.search_select{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #f3f3f3;
    border: none;
    width:50px;
    text-align: center;
}
.search_input{
    width: 100%;
    border: none;
    font-size: 1rem;

}
.search_logo{
    width:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #febd69;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0F1111;
    font-size: 1.2 rem;
}

/** Styling for the sign in section */
.nav_signup{
    display: flex;
    flex-direction: column;
    
}
span{
    color: #cccccc;
    font-size: 13.5px;
}
.signin_second{
    
    font-size: 16px;
    font-weight: 600;
    
}
/** Styling for the cart section */
.nav_cart i{
    font-size: 30px;
}
.nav_cart{
    font-size: 16px;
    font-weight: 600;
}

/** Styling Panel */
.panel{
    display: flex;
    background-color: #222f3d;
    height: 40px;
    align-items: center;
    justify-content: space-evenly;
    color: white;

}
.panel_items{
    width:90%;
    
    font-weight: 400;
}
.panel_items p{
    display: inline;
    margin-right: 10px;

    
}

/** Styling for the hero section */
.hero_section{
    height: 400px;
    width: 100%;
    background-image: url("hero.jpg");
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}
.hero_message{
    background-color: white;
    height : 40px;
    width: 90%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    position: relative;
    margin-bottom: 20px;
    font-weight: 500;
}
.hero_message a{
    color: #2162A1;
}

/* Box_content style */

.hero_content{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(224, 211, 224);
    
}
.box{
    height: 400px;
    width:21%;
    border: 2px solid black;
    background-color: white;
    padding : 15px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
    
}


.box_image{
    height: 300px;
}

/* Styling for the footer */
footer{
    margin-top: 20px;;
}
.footer_panel{
    height: 50px;
    background-color: #37475a;
    font-size: .85rem;
    color: white;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.footer_panel2{
    height:400px;
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: vecenter;
}
ul{
    margin-top: 20px;;
}
ul a{
    display: block;
    color: #dddddd;
    font-size: .85rem;
    margin-top: 10px;

}
ul a:hover{
    color: rgb(98, 98, 250);
}

.footer_panel3{
    height: 60px;
    background-color: #222f3d;
    display: flex;
    justify-content: center;
    align-items: center;

    
    border-top:.1px solid #dddddd;

}
.logo_image{
    height: 50px;
    width: 100px;
    background-image: url("amazon_logo.png");
    background-size: cover;
    
}
.footer_panel4{
    background-color: #131a22;
    height:80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: .85rem;
    
}
.info{
    display:flex;
    padding : 10 px;
    font-size: .85rem;

}
